@media only screen and (max-width: 600px) {
     
      nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      .logo {
        margin: 0 auto;
        gap: 1rem;
      }
      
      .hero {
        display: grid;
        border: 1px solid #888;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        background: linear-gradient(0deg, rgba(109,38,251,1) 0%, rgba(130,72,247,1) 45%, rgba(130,72,247,1) 55%, rgba(109,38,251,1) 100%);
        * {
          border: 0;
        }
        
        img {
          margin-block-start: -3rem;
          width: 70%;
          grid-column: 3/6;
          grid-row: span 2;
          pointer-events: none;
          align-self: end;
        }
        
        h1{
          font-size: 4rem;
          font-weight: 900;
          color: white;
          position: absolute;
          z-index: 2;
          max-width: 25rem;
          margin-left: 2rem;
          margin-bottom: 0;
          }
        
        h1 {
          grid-column: 6/11;
        }
      
        p {
          display: none;
        }
      
      }
      
      nav {
        background: white;
        z-index: 1;
        position: relative;
        max-width: 80rem;
        margin: 0 auto;
        padding: 1rem;
      }
      
      nav a {
        font-family: 'League Spartan', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        display: block;
        text-decoration: none;
      }

      .stripes{
        margin-bottom: -4rem;
      }
      
      #stripeleft{
        max-width: 10rem;
      }
      
      #striperight{
        max-width: 10rem;
      }


      .gridspeaker:hover {
        background-color: rgb(255, 220, 192);
        width: 100vw;
        margin-left: 0;
        display: flex;
        flex-direction: column;
      
        img {
          display: none;
        }

        .flip{
            display: inline;
          }

          h2{
            font-size: 1.5rem;
            line-height: 2rem;
            padding-top: 2rem;
          }

          h3{
            font-size: 1.3rem;
          }

          p{
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
      }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(1rem,18rem));
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        justify-content: center;
      
        &speaker {
          width: 19rem;
        }
     
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 100%;
        }
      
        h2 {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 2rem;
          margin-top: .1rem;
        }
      
      }
      
      .flip{
        display: none;
      }
      
      .gridspeaker{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 10rem;
      }

      .gridstripe{
        display: none;
      }

      .gridspeaker:hover {
        background-color: rgb(255, 220, 192);
        border-radius: 0.5rem;
      
        img {
          display: none;
        }
      
        .localisation{
          display: none;
        }
      
      
        .flip{
          display: inline-block;
          padding: 0rem 1rem;
          
      
          h2{
          font-size: 1.5rem;
          line-height: 1rem;
          }
      
          p{
          font-size: 1rem;
          line-height: 1.3rem;
          }
        }
      
        .flip2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 1rem;
          
          .button {
            background-color: #ffd5cb;
            border: .1rem solid red;
            border-radius: 10rem;
            color: rgb(255, 47, 47);
            padding: .5rem .1rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: .6rem;
            margin: 0rem 2rem;
            cursor: pointer;
          }
          
        }
        
    }

    
    footer{
      background-color: rgb(55, 51, 61);
      color: $font-color2;
      margin: 0 auto;
      margin-top: 10rem;
    
    
    
      h3{
        color: $turquoise;
      }
    
      i{
        margin-left: .5rem;
      }
    
      p{
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    
   
    
    .test {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;

      }
    
    .testconv{
      grid-column: 1/7;
    }
    
    .testimg img{
      display: none;
    }
    
    .testsponso{
      filter: brightness(0) invert(1);
      display: grid;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
    
    .testfollow{
      grid-column: 1/4;
      border: .1rem solid rgb(147, 147, 147);
      padding: 0rem 2rem;
    
      h3{
        margin-bottom: 0;
      }
    }
    
    .testhelpdesk{
      grid-column: 4/7;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: èrem;
    }
    .testhashtag{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 9rem;
    
      p{
        font-size: 1.5rem;
      }
    }
    
}