
.bannerbox{
  height: 20rem;
  margin: 6rem 15rem;
  background: linear-gradient(0deg, rgba(109,38,251,1) 0%, rgba(130,72,247,1) 45%, rgba(130,72,247,1) 55%, rgba(109,38,251,1) 100%);
  color: $font-color2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.speakers{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  }

  .becomespeaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    margin: 5rem 0rem;
  }
  
  .becomespeaker h2{
    color: $purple;
  }

