
.bannerbox{
  width: 100%;
  height: 15rem;
  margin-top: -1rem;
  margin-left: auto;
  background-color: $purple;
  color: $font-color2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bannerbox img{
  margin-top: -5.6rem;
  margin-left: 4rem;
  padding-right: 5rem;
  max-width: 21rem;
}

#stripeleft{
  max-width: 10rem;
}

#striperight{
  max-width: 20rem;
}

.stripes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}


.speakers{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  }

  .grid img{
    max-width: 100%;
    max-height: 100%;
  }

  .img-gradient {
    position:relative;
  }
  
  .img-gradient::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 99%;
    background: linear-gradient(138deg, rgba(105, 29, 255, 0.5) 0%, rgba(156,156,156,0.5) 50%, rgba(4,255,210,0.7) 100%);
  }

  .stripes-right{
    width: 50%;
    margin-left: 50%;
    margin-top: -40rem;
    z-index: 2;
    position: relative;
  }

  .becomespeaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    margin: 5rem 0rem;
  }
  
  .becomespeaker h2{
    color: $purple;
  }

  .section2{
    margin: -1rem -5rem;
    background-color: rgb(255, 255, 255);
  }

  @media only screen and (max-width: 600px) {

    body{
      margin: 0 auto;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0rem;
      grid-row-gap: 0rem;
      }

      .bannerbox{
        width: 100%;
        height: 9rem;
        margin-top: 0;
        margin-left: auto;
        background-color: $purple;
        color: $font-color2;
        display: flex;
        flex-direction: row;
      }
      
      .bannerbox img{
        margin-top: -1rem;
        margin-left: 2rem;
        width: 10rem;
        height: 10rem;
      }
  }
