body{
  background-color: $bg-color;
  font-family: 'League Spartan', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto; 
}

h1{
  font-family: museo;
  font-size: 4rem;
  font-weight: 500;
  //white-space: pre-line;
  }

h2{
  font-size: 3rem;
  font-weight: 200;
  line-height: 3.5rem;  
}

.names{
  font-size: 2rem;
  font-weight: 300;  
  white-space: pre-line;
  margin-top: -.7rem;
  margin-left: 1rem;

}

.localisation{
  color: $grey;
  font-size: 1.5rem;
  font-weight: 300;  
  margin-left: 1rem;
  margin-top: -1rem;
}

h3{
  font-size: 1.9rem;
}

p{
  font-size: 1.7rem;
}