@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: museo;
  src: url(/src/style/museo300.woff) format("woff");
  font-weight: normal;
}

body{
  background-color: $bg-color;
  font-family: 'League Spartan', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0; 
}

h1{
  font-family: museo;
  font-size: 6.7rem;
  font-weight: 500;
  white-space: pre-line;
}

h2{
  font-size: 3rem;
  font-weight: 200;
  line-height: 3.5rem;  
}

.names{
  font-size: 2rem;
  font-weight: 300;  
  white-space: pre-line;
  margin-top: -.7rem;
  margin-left: 1rem;
  line-height: 2rem;
}

.localisation{
  color: $grey;
  font-size: 1.5rem;
  font-weight: 300;  
  margin-left: 1rem;
  margin-top: -1rem;
}

h3{
  font-size: 1.9rem;
}

p{
  font-size: 1.7rem;
}