footer{
  background-color: rgb(46, 41, 53);
  margin: -1rem -5rem;
  padding: 2rem 15rem;
  color: $font-color2;
}

footer img{
  max-width: 30vw;
}

.brands{
  filter: brightness(0) invert(1);
}

.convention{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brands{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}