footer{
  background-color: rgb(163, 163, 163);

}

footer img{
  max-width: 30vw;
}

.convention{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brands{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}