.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(6rem,18rem));
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 3rem;
  justify-content: center;
  //margin-left: 7vw;
  &speaker {
    width: 20rem;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

}

.gridspeaker:hover {
  background-color: rgb(255, 220, 192);

  img {
    display: none;
  }
}

