.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(6rem,18rem));
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;

  &speaker {
    width: 17rem;
  }

  &stripe {
    width: 25%;
    margin-top: -40rem;
    z-index: 2;
    position: relative;
  }
  
  img {
    width: 100%;
    object-fit: cover;
  }

}


.gridspeaker:hover {
  background-color: rgb(255, 220, 192);

  img {
    display: none;
  }
}

