header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  color: $font-color; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-family: sans-serif;
  display: block;
  color: $font-color;
  text-decoration: none;
  padding: 10px 20px;
}


