*, *::before, *::after {
  box-sizing: border-box 
}

nav {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.logo {
  margin-inline-end: auto;
}
.hero {
  display: grid;
  border: 1px solid #888;
  max-width: 80rem;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  background: linear-gradient(0deg, rgba(109,38,251,1) 0%, rgba(130,72,247,1) 45%, rgba(130,72,247,1) 55%, rgba(109,38,251,1) 100%);
  * {
    border: 0;
  }
  
  img {
    position: relative;
    z-index: 2;
    margin-block-start: -3rem;
    width: 100%;
    grid-column: 3/6;
    grid-row: span 2;
    pointer-events: none;
    align-self: end;
  }
  
  h1{
    font-size: 3.2rem;
    font-weight: 500;
    align-self: end;
    color: white;
    }
  
  h1, p {
    grid-column: 6/11;
  }

  p {
    align-self: start;
    color: white;
    line-height: 2rem;
    margin-top: 0;
  }

}

nav {
  background: white;
  z-index: 1;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

nav a {
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  text-decoration: none;
}