*, *::before, *::after {
  box-sizing: border-box 
}

nav {
  display: flex;
  gap: 2rem;
  align-items: flex-end;

  a{
    color:rgb(97, 97, 97);
  }
  
}

.logo {
  margin-inline-end: auto;
}
.hero {
  display: grid;
  border: 1px solid #888;
  max-width: 80rem;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  background: linear-gradient(0deg, rgba(109,38,251,1) 0%, rgba(130,72,247,1) 45%, rgba(130,72,247,1) 55%, rgba(109,38,251,1) 100%);
  * {
    border: 0;
  }
  
  img {
    position: relative;
    z-index: 2;
    margin-block-start: -3rem;
    width: 100%;
    grid-column: 3/6;
    grid-row: span 2;
    pointer-events: none;
    align-self: end;
  }
  
  h1{
    font-size: 3.2rem;
    font-weight: 500;
    align-self: end;
    color: white;
    }
  
  h1, p {
    grid-column: 6/11;
  }

  p {
    align-self: start;
    color: white;
    line-height: 2rem;
    margin-top: 0;
  }

}

nav {
  background: white;
  z-index: 1;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

nav a {
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  text-decoration: none;
}

#menu__toggle {
  opacity: 0;
}


#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 1.5rem;
  left: 85vw;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 4rem 0;
  list-style: none;
  background-color: $purple;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 3;
}

.menu__item {
  display: block;
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  line-height: 3rem;
  text-decoration: none;
  transition-duration: .25s;
}

.hamburger-menu{
  display: none;
}

@media only screen and (max-width: 480px){

  .hamburger-menu{
    display: block;
    margin-bottom: 6rem;
  }
  
  nav{
    display: none;
  }


}