.stripes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80rem;
}

#stripeleft{
  max-width: 20rem;
}

#striperight{
  max-width: 30rem;
}

  .stripe-speaker{
    width: 50%;
    margin-top: -40rem;
    z-index: 2;
    position: relative;
  }

  @media only screen and (max-width: 600px) {

  }

